---
- name: create backend folder
  file:
    path: ~/backend
    state: directory

- unarchive:
    src: backend.zip
    dest: ~/backend

- name: npm install
  command: npm i
  args:
    chdir: /home/ubuntu/backend

- name: npm run build
  command: npm run build
  args:
    chdir: /home/ubuntu/backend
    
- name: start backend service
  shell: "pm2 start npm -- run start:prod"
  args:
    chdir: /home/ubuntu/backend